<h2>RPG Characters</h2>

<div>
  <label>Character name: <input #characterName /></label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(characterName.value); characterName.value=''">Add</button>
</div>

<ul class="characters">
  <li *ngFor="let character of rpg_characters">
    <a routerLink="/detail/{{character.id}}">
      <span class="badge">{{character.id}}</span> {{character.name}}
    </a>
    <button class="delete" title="delect character" (click)="delete(character)">X</button>
  </li>
</ul>
